<form class="form-inline" (ngSubmit)="search()">
    <div class="form-group mb-2">
        <label class="mr-2 strong" for="filter"><strong>Name</strong></label>
        <input type="text" class="form-control" id="filter" name="filter" [(ngModel)]="filter">
    </div>
    <input type="submit" class="btn btn-primary mb-2 mx-sm-3" value="Filter">
</form>