<form ngNativeValidate (ngSubmit)="saveItem()">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="item.name" required>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="category" [(ngModel)]="item.category" required>
            <option *ngFor="let category of categories; trackBy: categoryId" [ngValue]="category">{{category.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" name="price" placeholder="Price" name="price" [(ngModel)]="item.price">
    </div>
    <div>
        <button type="button" class="btn btn-warning mr-2" (click)="clearForm()">Reset</button>
        <input type="submit" name="submit" class="btn btn-primary" value="Save">
    </div>
</form>