<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col" *ngIf="showActions">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <th scope="row">{{item.name}}</th>
            <td>{{item.category.name}}</td>
            <td>{{item.price}}</td>
            <td *ngIf="showActions">
                <button type="button" class="btn btn-danger mr-2" (click)="delete(item)">Delete</button>
                <button type="button" class="btn btn-primary mr-2" (click)="update(item)">Update</button>
            </td>
        </tr>
    </tbody>
</table>