<div class="row">
    <div class="col-8">
        <app-menu-preview #preview [showActions]="true" (onAction)="handleActions($event)"></app-menu-preview>
    </div>
    <div class="col-4">
        <app-menu-item-form (onSave)="saveItem($event)" [item]="selectedItem"></app-menu-item-form>
    </div>
</div>