<div class="row">
    <div class="col-12">
        <app-menu-search-form (onSearch)="setFilter($event)"></app-menu-search-form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-menu-table [items]="menuPage.items" [showActions]="showActions" (onAction)="action($event)"></app-menu-table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ngb-pagination [page]="menuPage.currentPage" (pageChange)="setPage($event)" [pageSize]="menuPage.itemsPerPage"
            [collectionSize]="menuPage.totalItems"></ngb-pagination>
    </div>
</div>